.about {
  padding-top: 95px;
  padding-bottom: 105px;
  &__container {
    @include flex(space-between, center)
  }
  &__text {
    width: 50%;
    max-width: 600px;
    text-align: center;
  }
  &__img {
    width: 50%;
    max-width: 500px;
    position: relative;
    .circle {
      right: 0;
      transform: translate(40%, -50%);
    }
    img{
      @include img
    }
  }
}
.container {
}
.intro {
}

